* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(238, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  height: 100%;
  border-radius: 0.75rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgb(0, 0, 0, 0.8);
}

/* el > se utiliza es para decirle a css "oye tiene que ser el hijo directo" */

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: rgb(34, 51, 51);
  color: white;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  padding-top: 10px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  height: 400px;
  width: 711px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("./assets/img1.jpg");
}
.card[for="c2"] {
  background-image: url("./assets/img2.png");
}
.card[for="c3"] {
  background-image: url("./assets/img3.jpg");
}
.card[for="c4"] {
  background-image: url("./assets/img4.jpg");
}

@media (max-width: 1050px) {
  .wrapper {
    padding: 20px;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 10px;
  }

  .card {
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 0.75rem;
    transition: all 0.4s ease;
  }

  .card > .row > .icon {
    position: absolute;
    bottom: 5px;
    left: 0px;

    width: clamp(35px, 8vw, 50px);
    height: clamp(35px, 8vw, 50px);
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }

  /* Card activa */
  input:checked + label {
    height: 150px;
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  input:checked + label .row .icon {
    display: none;
  }

  /* Ocultamos descripción cuando no está activa */
  .description {
    transition: opacity 0.3s ease;
  }
  .card > .row > .description {
    width: 100%;
    height: auto;
  }

  .description p {
    font-size: clamp(0.7rem, 2.2vw, 0.9rem);
  }

  .description h4 {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }

  input:checked + label .description {
    opacity: 1;
  }

  /* Imagen correctamente centrada */
  .card {
    background-size: cover;
    background-position: center;
  }
}
