* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(238, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  height: 100%;
  border-radius: 0.75rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgb(0, 0, 0, 0.8);
}

/* el > se utiliza es para decirle a css "oye tiene que ser el hijo directo" */

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: rgb(34, 51, 51);
  color: white;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  padding-top: 10px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  height: 400px;
  width: 711px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("./img1.jpg");
}
.card[for="c2"] {
  background-image: url("./img2.png");
}
.card[for="c3"] {
  background-image: url("./img3.jpg");
}
.card[for="c4"] {
  background-image: url("./img4.jpg");
}
