/* 
se cambia el box-sizing y se resetea padding y margin
para poder estilar mas comodamente
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background: #0f0f0f;
}

.nav-links {
  position: relative;

  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  background: rgb(45, 44, 44, 0.579);
  color: white;
  text-decoration: none;
  padding: 1rem 1.5rem;
  z-index: 1;
}

.nav-links a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(45deg, #4d1b3a, #e61398);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0% 100%;
  border-radius: 8px;
  transition: background-size 0.3s ease;
  z-index: -1;
}

@media (hover: hover) and (pointer: fine) {
  .nav-links a:hover::before {
    background-size: 100% 100%;
  }
}

#menu-toggle {
  position: absolute;
  opacity: 0;
}

.hamburguer {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburguer span {
  width: 30px;
  height: 4px;
  background: white;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: end;
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  .hamburguer {
    display: inline-flex;
    padding: 20px;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-direction: column;
    position: fixed;
    top: 0%;
    right: -50%;
    height: 100vh;
    width: 280px;

    background: linear-gradient(180deg, #3a0f2b, #7a1b5c 60%, #d61a8c);
    box-shadow: -18px 0 40px rgba(0, 0, 0, 0.45);

    transition: right 0.8s ease;
  }

  .nav-links a {
    font-size: 1.3rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    background: none;

    width: 100%;
    font-weight: 500px;
  }

  .nav-links a:active {
    transform: scale(0.9);
  }

  #menu-toggle:checked + .hamburguer span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
    z-index: 2;
  }

  #menu-toggle:checked + .hamburguer span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked + .hamburguer span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
    z-index: 2;
  }

  #menu-toggle:checked ~ .nav-links {
    right: 0;
  }
}
